.Hero {
  position: relative;
  width: 100%;
}

.HeroContainer {
  padding: 18vw 0 15vw;
}

.HeroParallaxContent-Title {
  width: 70vw;
  margin: 4vw 15vw 4vw;
  top: 26vw;
  color: $color-white;
}

.HeroParallaxContent-Title.Title {
  font-size: 6.2vw;
}

.HeroParallaxContent-Text {
  width: 70vw;
  margin: 0 15vw 3vw;
  top: 39vw;
  font-size: 3.4vw;
  color: $color-white;
}

@media screen and (min-width: 1099px) {
  .HeroContainer {
    padding: 2vw 0 0;
  }

  .HeroParallaxContent-Title {
    width: 80%;
    margin: 0 auto;
    padding: 1vw 0;
    color: $color-white;
  }

  .HeroParallaxContent-Title.Title {
    font-size: 3.5vw;
  }

  .HeroParallaxContent-Text {
    width: 80%;
    margin: 1vw auto;
  }

  .HeroParallaxContent-Text.Text {
    font-size: 1.2vw;
  }
}
