.SkillsContentWrapper {
  padding: 3vw 7vw 10vw;
}

.SkillsBoxContainer {
  width: 100%;
  margin: 10vw 0 0;
}

.SkillBox {
  height: 16vw;
  margin: 10vw 0;
  display: flex;
  align-items: center;
  border-radius: 50vw;

  background-color: $primary-bg;
}

.SkillBox-ImageContainer {
  width: 22vw;
  height: 22vw;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadowicon;
  background-color: $primary-bg;
  transform: translateX(-3vw);
}

.SkillBox-Image {
  width: 50%;
}

.SkillBox-Image.Ps,
.SkillBox-Image.Js,
.SkillBox-Image.Sass,
.SkillBox-Image.Css {
  width: 60%;
}

.SkillBox-Title {
  margin-left: 6%;
}

@media screen and (min-width: 1099px) {
  .SkillsContentWrapper {
    padding: 3vw 0 10vw;
  }

  .SkillsBoxContainer {
    margin: 2vw 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .SkillBoxWrapper {
    height: 5vw;
    width: 26%;
    margin: 0 0 2.5vw;
    display: flex;
  }

  .SkillBox {
    width: 100%;
    height: 100%;
    margin: 2vw 0;
    cursor: default;
    transition: 0.4s ease-in-out;
    will-change: border;
    border: 4px solid $primary-bg;
    &:hover {
      border: 4px solid #1a7783;
    }
    &:hover .SkillBox-ImageContainer {
      transform: scale(1.07) translateX(-1vw);
      box-shadow: $shadowicon-hover;
    }

    &:hover .SkillBox-Title {
      color: $color-white;
    }
  }

  .SkillBox-ImageContainer {
    width: 6vw;
    height: 6vw;
    transition: 0.3s ease-in-out;
    will-change: transform box-shadow;
    transform: translateX(-1vw) scale(1);
  }

  .SkillBox-Title {
    margin-left: 0.3vw;
    transition: 0.3s ease-in-out;
    will-change: color;
    color: $secondary-text;
  }
}
