.Skills {
  position: relative;
  width: 100%;
  padding-top: 0vw;
}

.Skills-Parallax-Container,
.SkillsParallaxContent,
.SkillsParallaxContent-Overlay,
.SkillsContentContainer {
  height: 310vw;
}

.SkillOverlay-Parallax-Container {
  height: 310vw;
  margin-top: -310vw;
}

.SkillsContentContainer {
  display: flex;
  justify-content: center;
  padding-top: 30vw;
}

@media screen and (min-width: 1099px) {
  .Skills {
    position: relative;
    width: 100%;
    z-index: 3;
    padding-top: 0vw;
    box-shadow: $shadow2;
  }

  .Skills-Parallax-Container,
  .SkillsParallaxContent,
  .SkillsParallaxContent-Overlay,
  .SkillsContentContainer {
    height: 54vw;
  }

  .SkillOverlay-Parallax-Container {
    height: 54vw;
    margin-top: -54vw;
  }

  .SkillsContentContainer {
    display: flex;
    justify-content: center;
    padding-top: 8vw;
    position: relative;
  }
}
