* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Font2;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  min-height: 100vh;
  position: relative;
  background: $appBg;
}

.SectionContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  color: $color-white;
}

.SectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 12vw;
    margin-right: 2vw;
    margin-left: -1vw;
  }
}

.Title {
  font-size: 8vw;
  font-weight: 600;
}

.Subtitle {
  text-transform: uppercase;
  font-weight: 500;
  font-family: $Font1;
}

.Text {
  font-size: 4.2vw;
  line-height: 150%;
  font-weight: 400;
  font-family: $Font3;
}

.Button {
  text-transform: uppercase;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  will-change: background-color;
  color: $color-white;
  font-family: $Font3;

  &__big {
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: 500;

    padding: 0 8vw;
    height: 12vw;
    font-size: 4.5vw;
  }
  &__small {
    font-weight: 300;
    padding: 0.6vw 4vw;
    border-radius: 4px;
    font-size: 3.3vw;
    letter-spacing: 0.5px;
    border: 2px solid;
  }
  &__blue {
    background-color: $button-bg;
    &:hover {
      background-color: $button-hover-bg;
    }
  }
  &__transparent {
    background-color: transparent;
    color: $color-white;

    &:hover {
      background-color: $button-bg;
    }
  }
  &__active {
    opacity: 1;
  }
  &__inactive {
    opacity: 0.5;
  }
}

.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  color: $color-white;
}

.ProfileCard-ImageContainer {
  width: 35vw;
  height: 35vw;
  margin: 12vw 0 0vw;
  padding: 4px;
  border-radius: 50vw;
  background: $terciary-bg;
  box-shadow: $shadow2;
}

.ProfileCard-ImageWrapper {
  width: 100%;
  height: 100%;
  border-radius: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  background: rgb(33, 37, 41);
  background: radial-gradient(
    circle,
    rgb(42, 47, 51) 38%,
    rgba(0, 0, 0, 1) 99%
  );
}

.ProfileCard-Image {
  width: 90%;
}

@media screen and (min-width: 1099px) {
  body::-webkit-scrollbar {
    background-color: #101a1f;
    width: 10px;
  }

  .mobile {
    display: none;
  }

  body::-webkit-scrollbar-thumb {
    background-color: $terciary-bg;
  }

  .PageContainer {
    width: 75%;
    margin-left: 25%;
  }

  .SectionContainer {
  }

  .SectionTitle {
    justify-content: flex-start;
    & img {
      width: 3vw;
      margin-right: 0.5vw;
      margin-left: -0.4vw;
    }
  }

  .Title {
    font-size: 40px;
    padding: 0;
  }

  .Subtitle {
    font-size: 26px;
  }

  .Text {
    font-size: 20px;
  }

  .Button {
    &__big {
      padding: 0 3vw;
      height: 3vw;
      font-size: 1.5vw;
    }
    &__small {
      padding: 0 1vw;
      height: 1.5vw;
      font-size: 0.8vw;
    }
  }

  .ProfileCard-ImageContainer {
    width: 11vw;
    height: 11vw;
    margin: 2.5vw 0 0.5vw;
  }
}
