$primary-bg: #1a1d20;
$primary-opacity-bg: rgba(26, 29, 32, 0.6);
$secondary-bg: #212529;
$terciary-bg: #343a40;
$primary-border: #545c65;
$button-bg: #00539c;
$button-hover-bg: #0866b9;
$color-white: #f0f8fd;

$shadow1: 0 0 20px 10px rgba(0, 0, 0, 0.7);
$shadow2: 0 2px 40px 15px rgba(0, 0, 0, 0.8);
$shadowinset1: inset 0 0 5px 2px rgba(0, 0, 0, 0.7);
$shadowinset2: inset 0 0 15px 4px rgba(0, 0, 0, 1);
$shadowinset3: inset 0 0 130px 5px rgba(0, 0, 0, 0.6);
$shadowinset4: inset 0 0 100px 5px rgba(0, 0, 0, 0.6);
$shadowicon: inset 0 0 20px 0 #3dc1d3;
$shadowicon-hover: inset 0 0 20px px #32c9dc;
$shadowsection: 0 0 30px 60px rgba(0, 0, 0, 1);

$secondary-text: #adb5bd;
$Font1: "Abel", sans-serif;
$Font2: "Cairo", sans-serif;
$Font3: "Poppins", sans-serif;
