$color-variation1-light: #f9c8dd;
$color-variation1: #f5a3ba;
$color-variation1-dark: #de3f6e;
$color-variation2-light: #9599ff;
$color-variation2: #666bff;
$color-variation2-dark: #575cfc;

$Font1: "Roboto", sans-serif;
$Font2: "Montserrat", sans-serif;
