.Development {
  padding: 20vw 0;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 0, 15, 1) 12%,
    rgba(17, 1, 36, 1) 50%,
    rgba(17, 1, 36, 1) 58%,
    rgba(7, 0, 15, 1) 88%,
    rgba(0, 0, 0, 1) 100%
  );
  background-color: $variant-bg;
  position: relative;
  z-index: 1;
  background-image: url(../../Assets/Images/development-bg22.jpg);
  background-image: url(../../Assets/Images/minimal-bg.jpg);
  background-size: 200%;
  background-position: center top;
  background-repeat: no-repeat;
}

.DevelopmentContainer {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.12),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 2vw;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 1px rgba(0, 0, 0, 0.37);
}

.Deveolpment-Title {
  text-align: center;
  color: $color-white;
}

.SelectorContainer {
  padding: 3vw 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.SelectorContainer-Options {
  width: 45%;
  margin: 1vw 0;
  text-align: center;
  transition: 0.3s;
  will-change: color;
}

.DevelopmentSelectorActive {
  color: $text-hover;
}

.DevelopmentSelectorInactive {
  color: $color-white;
}

.DevelopmentBoxContainer {
  width: 85%;
  padding: 15vw 0;
  margin: 0 auto;
}

.DevelopmentBoxContainer-Box {
  margin: 0 0 8vw;
  padding-bottom: 4vw;
  padding-bottom: 0vw;
  padding: 1vw 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  will-change: padding margin;
  border-radius: 5px;
  background-color: $primary-opacity-bg;
  border: 3px solid $terciary-bg;
}

.DevelopmentBoxContainer-Box:hover {
  padding: 20vw 0 15vw;
  margin: 25vw 0 10vw;

  & .DevelopmentBoxContainer-Image {
    opacity: 1;
    height: 30vw;

    transform: translateY(-35vw);
  }
  & .DevelopmentBoxContainer-Description {
    display: flex;
  }

  & .DevelopmentBoxContainer-Button div {
    background-color: $text-hover;
  }
  & .DevelopmentBoxContainer-ButtonLine2 {
    transform: rotateZ(0deg);
  }
  & .Project-Button {
    display: flex;
  }
}

.DevelopmentBoxContainer-Button {
  width: 5vw;
  height: 5vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2vw;
  bottom: 3vw;
  border-radius: 50vw;

  & div {
    position: absolute;
    width: 70%;
    height: 0.6vw;
    transition: 0.3s;
    will-change: transform background-color;
    background-color: $text-hover;
  }
}

.DevelopmentBoxContainer-ButtonLine2 {
  transform: rotateZ(90deg);
  will-change: transform background-color;
}

.DevelopmentBoxContainer--FaviconContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vw;
  border-radius: 50vw;
  left: -5%;
  border: 2px solid $text-hover;
  background-color: $primary-border;
  box-shadow: $shadowinset2;
}

.DevelopmentBoxContainer--Favicon {
  width: 40%;
}

.DaleplastFavicon {
  width: 35%;
}

.DevelopmentBoxContainer-Title {
  margin: 0;
  padding: 0;
  font-size: 4.7vw;
  display: flex;
  align-items: center;
}

.DevelopmentBoxContainer-Description {
  font-size: 3.7vw;
  width: 80%;
  margin: 5vw 0 8vw;
  font-weight: 300;
  display: none;
  z-index: 0;
  font-family: $Font3;
}

.DevelopmentBoxContainer-Image {
  width: 60vw;
  height: 0vw;
  opacity: 0;
  z-index: 0;
  border-radius: 6px;
  transition: 0.3s;
  will-change: opacity transform height background-image;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary-bg;
}

.MyTaskImage {
  background-image: url(../../Assets/Images/mytask.png);
}

.VernalImage {
  background-image: url(../../Assets/Images/vernal.png);
}
.DaleplastImage {
  background-image: url(../../Assets/Images/daleplast.png);
}
.TuEspacioImage {
  background-image: url(../../Assets/Images/tu-espacio.png);
}
.AuraImage {
  background-image: url(../../Assets/Images/aura-films.png);
}
.CocinasImage {
  background-image: url(../../Assets/Images/cocinas.png);
}

.ParallaxBgImage {
  background-image: url(../../Assets/Images/animations-parallaxbg.png);
}

.ParallaxImage {
  background-image: url(../../Assets/Images/animations-normalparallax.png);
}

.AnimatedCube1Image {
  background-image: url(../../Assets/Images/animations-cube.png);
}

.KombiImage {
  background-image: url(../../Assets/Images/animations-kombi.png);
}

.TransitionsImage {
  background-image: url(../../Assets/Images/animations-transiciones.png);
}

.LoginComponentImage {
  background-image: url(../../Assets/Images/component-login.png);
}

.LandingPageImage {
  background-image: url(../../Assets/Images/component-landing.png);
}

.Project-Button {
  display: none;
}

@media screen and (min-width: 1099px) {
  .Development {
    height: auto;
    padding: 5vw 0 8vw;
    background-size: 200%;
    background-repeat: round;
  }
  .DevelopmentContainer {
    height: auto;
    border-radius: 0.5vw;
  }

  .Deveolpment-Title {
    margin-left: 4vw;
  }

  .SelectorContainer {
    padding: 0;
    height: 3.5vw;
    flex-direction: row;
    justify-content: center;
  }
  .SelectorContainer-Options {
    width: auto;
    margin: 0 1vw;
    font-size: 1.1vw;
    cursor: pointer;
    transition: 0.3s;
    will-change: color;
    &:hover {
      color: $text-hover;
    }
  }

  .DevelopmentBoxContainer {
    width: 90%;
    padding: 0 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .DevelopmentBoxContainer-Box {
    margin: 8vw 0 0;
    padding: 0vw 0 3vw;
    width: 43%;
    border-radius: 10px;
    background-color: $primary-opacity-bg;
  }

  .DevelopmentBoxContainer-Box:hover {
    padding: 0 0 3vw;
    margin: 8vw 0 0;
    border: 3px solid $primary-border;

    & .DevelopmentBoxContainer-Image {
      transform: translateY(0);
      height: 9vw;
    }
  }

  .DevelopmentBoxContainer-Button {
    width: 1vw;
    height: 1vw;
    right: 0vw;
    bottom: 0vw;
    display: none;
    & div {
      position: absolute;
      width: 70%;
      height: 0.1vw;
      transition: 0.3s;
      will-change: transform background-color;
      background-color: $text-hover;
    }
  }

  .DevelopmentBoxContainer--FaviconContainer {
    width: 3vw;
    height: 3vw;
    left: 12%;
  }

  .DevelopmentBoxContainer--Favicon {
    width: 40%;
  }

  .DaleplastFavicon {
    width: 35%;
  }

  .DevelopmentBoxContainer-Title {
    width: 60%;
    font-size: 1.2vw;
    margin-left: 4vw;

    margin-top: 2vw;
  }

  .DevelopmentBoxContainer-Description {
    font-size: 1vw;
    width: 70%;
    margin: 1.5vw 0 2vw;
    display: flex;
    height: 7vw;
  }

  .DevelopmentBoxContainer-Image {
    width: 80%;
    height: 9vw;
    margin-top: -5vw;
    opacity: 1;
    transition: 0.3s;
    transform: translateY(0);
    position: relative;
    box-shadow: $shadow1;
    will-change: background-size;
  }

  .Project-Button {
    display: flex;
    width: 50%;
    font-size: 1.3vw;
    cursor: pointer;
  }
}
