.Contact {
  height: 210vw;
  background-image: url(../../Assets/Images/skills-bg4.jpg);
  background-size: 150%;
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
}

.ContactSectionContainer {
  height: 210vw;
  width: 100%;
}

.ContactContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    112deg,
    rgba(0, 0, 0, 0.1017857142857143) 17%,
    rgba(0, 0, 0, 0.8632703081232493) 93%
  );
  color: $color-white;
}

.ContactContainer-Subcontainer {
  width: 80%;
  padding: 15vw 0 0;
}

.ContactContainer-Title {
}

.ContactContainer-MediaContainer {
  display: none;
}

.ContactForm {
  width: 80%;
  margin-top: 5vw;
}

.ContactForm-Label {
  margin-top: 5vw;
}

.ContactForm-Input,
.ContactForm-TextArea {
  width: 100%;
  margin-bottom: 5vw;
  padding: 2vw 3vw;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-family: $Font2;
  color: $color-white;
  border: 2px solid $color-white;
  background-color: rgba(26, 29, 32, 0.15);
}

.ContactForm-TextArea {
  height: 30vw;
}

.ContactForm-Button {
  margin-left: auto;
  margin-top: 1vw;
}

.ShadowContainer {
  height: 10vw;
  position: absolute;
  overflow: hidden;
  &__TopLeft {
    width: 9%;
    left: 0;
    top: -1vw;
  }
  &__TopRight {
    width: 65%;
    right: 0;
    top: -1vw;
  }
  &__BottomLeft {
    width: 0;

    left: 0;
    bottom: 0;
  }
  &__BottomRight {
    width: 0;

    right: 0;
    bottom: 0;
  }
}

.ShadowContainerShadow {
  width: 110%;
  height: 100%;
  background-color: $variant-bg;
  &__TopRight {
    transform: skewX(-35deg);
    margin-left: -30%;
  }
  &__TopLeft {
    transform: skewX(35deg);
    margin-left: 1vw;
    margin-left: 5%;
  }
  &__BottomRight {
    transform: skewX(35deg);
    margin-left: -15%;
  }
  &__BottomLeft {
    transform: skewX(-35deg);
    margin-left: 1vw;
    margin-left: 15%;
  }
}

@media screen and (min-width: 1099px) {
  .Contact {
    height: 44vw;
    background-size: 100%;
    background-position: top center;
  }

  .ContactSectionContainer {
    height: 44vw;
    width: 100%;
  }

  .ContactContainer {
    padding: 7vw 0 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .ContactContainer-Subcontainer {
    width: 40%;
    padding: 0;
  }

  .ContactContainer-Text {
    width: 80%;
    margin-bottom: 3vw;
  }

  .ContactContainer-MediaContainer {
    width: 12vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .SocialMediaLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    border: 3px solid $color-white;
  }

  .Linkedin {
    width: 80%;
  }

  .Instagram {
    width: 70%;
  }

  .YouTube {
    width: 60%;
  }

  .ContactForm {
    width: 40%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContactForm-Label {
    margin-top: 1vw;
    width: 80%;
    font-size: 1.2vw;
  }

  .ContactForm-Input,
  .ContactForm-TextArea {
    width: 80%;
    margin-bottom: 0vw;
    padding: 0.3vw 0.7vw;
    border-radius: 5px;
    font-size: 1.2vw;
    &::placeholder {
      color: $secondary-text;
    }
  }

  .ContactForm-TextArea {
    height: 8vw;
  }

  .ContactForm-Button {
    margin-left: auto;
    margin-right: 10%;
    margin-top: 2vw;
  }

  .ShadowContainer {
    height: 3vw;
    &__TopLeft {
      width: 8%;
    }
    &__TopRight {
      width: 75%;
    }
    &__BottomLeft {
      width: 72%;
    }
    &__BottomRight {
      width: 14%;
    }
  }
}
