.cube {
  position: relative;
  width: 30px;
  height: 30px;
  transform-style: preserve-3d;
  will-change: transform;
  transform: rotateX(-30deg) rotateY(45deg);
  animation: normal-rotation 3s ease-in-out infinite;
}

.cube__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube__container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0s;
  box-shadow: inset 0 0 2px 1px rgba(20, 20, 20, 1);
}

.span1 {
  background-color: #cbcaca;
}
.span4 {
  background-color: #e5e5e5;
}

.cube__container .span1 {
  transform: rotateY(calc(90deg * 0)) translateZ(15px);
}
.cube__container .span2 {
  transform: rotateY(calc(90deg * 1)) translateZ(15px);
}
.cube__container .span3 {
  transform: rotateY(calc(90deg * 2)) translateZ(15px);
}
.cube__container .span4 {
  transform: rotateY(calc(90deg * 3)) translateZ(15px);
}

.cube__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  box-shadow: inset 0 0 2px 1px rgba(20, 20, 20, 1);

  transform: rotateX(90deg) translateZ(15px);
}

@keyframes normal-rotation {
  0% {
    transform: translateX(0px) translateY(0px) rotateX(-30deg) rotateY(45deg);
  }

  50% {
    transform: translateX(0px) translateY(5px) rotateX(-30deg) rotateY(45deg);
  }

  100% {
    transform: translateX(0px) translateY(0px) rotateX(-30deg) rotateY(45deg);
  }
}

@media screen and (min-width: 1099px) {
}
