.NavBar {
  width: 100%;
  height: 20vw;
  padding: 4vw 0;
  position: absolute;
  background-color: $primary-bg;
}

.NavBarContainer {
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  transition: 0.3s;
  will-change: margin;
  background-color: $primary-bg;

  &__Inactive {
    margin-left: -100%;
  }
  &__Active {
    margin-left: 0;
  }
}

.MenuButton {
  width: 9vw;
  height: 9vw;
  left: 6vw;
  top: 6vw;
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  will-change: transform border-radius border;
  transition: 0.3s;
  &__Active {
    transform: rotateZ(-135deg);
    border-radius: 50vw;
    position: fixed;
    border: 6px solid $secondary-text;
  }
  &__Inactive {
    transform: rotateZ(0deg);
    border-radius: 0vw;
    border: 3px solid transparent;
  }
}

.MenuButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MenuButton-Span {
  width: 2.3vw;
  height: 2.3vw;
  border-radius: 0;
  will-change: width height border-radius;
  transition: 0.3s;
  background: $secondary-text;
  &__Active {
    &--1 {
      border-top-left-radius: 50vw;
    }
    &--2 {
      border-top-right-radius: 50vw;
    }
    &--3 {
      border-bottom-left-radius: 50vw;
    }
    &--4 {
      border-bottom-right-radius: 50vw;
    }
  }
  &__Inactive {
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50vw;
  }
}

.NavBarTitle.Title {
  margin: 0;
  font-size: 9vw;
  text-transform: capitalize;
}

.NavBarSubtitle.Subtitle {
  font-size: 5vw;
  margin: 0 0 1vw;
  color: $secondary-text;
}

.NavBarText.Text {
  font-size: 4vw;
  text-transform: capitalize;
}

.Menu {
  margin: 6vw 0 0;
  width: 100%;
  z-index: 10;
  background: rgb(24, 101, 101);
  background: linear-gradient(
    140deg,
    rgba(24, 101, 101, 1) 16%,
    rgba(92, 16, 92, 1) 74%
  );
  background: $primary-bg;

  transition: 0.3s ease-in-out;
  will-change: box-shadow;
  color: $color-white;
  box-shadow: $shadowinset4;
}

.MenuList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw 0;
}

.MenuList .MenuList-Links {
  width: 45%;
  font-size: 6vw;
  text-align: center;
  margin: 0;
}

.languageSelector {
  display: flex;
  justify-content: space-between;
  &__hero {
    position: absolute;
    top: 6vw;
    right: 6vw;
    z-index: 2;
  }
  &__menu {
    width: 54%;
    margin: 7vw auto 0;
  }
}

.language-button {
  width: 25vw;
}

@media screen and (min-width: 1099px) {
  .NavBar {
    width: 25%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 0;
    position: fixed;
    z-index: 10;
    box-shadow: $shadow3;
  }

  .NavBarContainer {
    position: relative;
    margin: 0;
    &__Inactive {
      margin-left: 0;
    }
    &__Active {
      margin-left: 0;
    }
  }

  .MenuButton {
    display: none;
  }

  .NavBarTitle.Title {
    margin: 0;
    font-size: 2vw;
  }

  .NavBarSubtitle.Subtitle {
    font-size: 1.2vw;
    margin: 0 0 0.2vw;
  }

  .NavBarText.Text {
    font-size: 1vw;
  }

  .Menu {
    margin: 2vw 0 0;
    border-top: 3px solid $terciary-bg;
    border-bottom: 3px solid $terciary-bg;
  }

  .MenuList {
    width: 48%;
    margin: 0 auto;
    padding: 1vw 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .MenuList .MenuList-Links {
    width: 12vw;
    position: relative;
    font-size: 1.5vw;
    margin: 0 0 0.5vw;
    padding: 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    will-change: background-color;
    &:hover .MenuList-Links-Shadow {
      opacity: 1;
    }
  }

  .MenuList .MenuList-Links a {
    z-index: 2;
    position: relative;
    padding: 0 2.5vw;
  }

  .MenuList-Links-Shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 0.3s ease-in-out;
    will-change: opacity;
    transform: skewX(-20deg);
    background-color: $primary-opacity-bg;
  }

  .languageSelector {
    display: flex;
    justify-content: space-between;
    &__hero {
      display: none;
    }
    &__menu {
      width: 54%;
      margin: 1vw auto 0;
    }
  }

  .language-button {
    width: 6.3vw;
  }
}
