.AboutMe {
  height: auto;
  padding: 0vw 0 20vw;
  position: relative;
  z-index: 4;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 45%,
    rgba(14, 23, 27, 1) 100%
  );
}

.AboutMe-TextContainer.SectionContainer {
  width: 85%;
}

.AboutMe-TextContainer {
  overflow: hidden;
  margin: 10vw auto;
  border-radius: 2vw;
  background-color: $primary-bg;
  box-shadow: $shadow1;
}

.AboutMe-TextWrapper {
  padding: 7vw 0 12vw;
  border-radius: 1.7vw;

  position: relative;
  z-index: 2;
  background-color: $primary-opacity-bg;
}

.AboutMe-Title {
  color: $color-white;
}

.AboutMe-BoxTitle {
  width: 80%;
  font-size: 6vw;
  font-weight: 600;
  margin: 0 auto 3vw;
  color: $text-hover;
  font-family: $Font1;
}

.AboutMe-Text {
  width: 80%;
  margin-top: 2vw;
  font-size: 3.4vw;
  font-weight: 300;
  margin: 0 auto;
  line-height: 160%;
}

.Aboutme-WrapperBg {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  background: rgb(24, 101, 101);
  background: linear-gradient(167deg, rgb(18, 71, 71) 16%, rgb(23, 6, 23) 74%);
}

@media screen and (min-width: 1099px) {
  .AboutMe {
    height: 50vw;
    height: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw 0 7vw;
  }
  .AboutMe-Title {
    width: 80%;
    margin: 0 auto 2vw;
  }

  .about-me-box-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .AboutMe-TextContainer {
    padding: 6px;
    border-radius: 0.3vw;
    margin: 2vw 0;
  }

  .AboutMe-TextContainer.SectionContainer {
    width: 100%;
    width: 80%;

    margin: 1vw auto;
  }

  .AboutMe-TextWrapper {
    padding: 2vw 0 3vw;
    position: relative;
    border-radius: 0.15vw;
    z-index: 2;
  }

  .AboutMe-BoxTitle {
    width: 90%;
    font-size: 1.8vw;
    margin: 0 auto 1vw;
  }

  .AboutMe-Text {
    margin-top: 2vw;
    font-size: 1.1vw;
    font-weight: 300;
    width: 90%;
    margin: 0 auto;
    line-height: 160%;
  }
}
